fastapi
uvicorn
gunicorn
python-dotenv
azure-storage-blob
requests
pillow
jinja2
pyodbc
python-multipart
azure-core
azure-ai-vision-imageanalysis @ git+https://github.com/Azure/azure-sdk-for-python.git#subdirectory=sdk/vision/azure-ai-vision-imageanalysis
